<ul>
  <% comments.each do |comment| %>
  <cbody class ="comment">
    <% if comment.id.present? %>
    <li>
      <div class="comment-content" id ="this_comment_<%= comment.id %>"></div>
      <p><%= comment.content %></p>
      <p>
        <%# binding.pry %>
      <%= User.find(comment.send_user).name %>さんの投稿
      投稿日：<%= l comment.created_at, format: :long %>
      </p>

      <% if current_user.id == comment.send_user %>
        <td><%= link_to "コメント編集", edit_user_comment_path(user, comment), remote: true, class: 'btn btn-outline-primary btn-sm' %></td>
        <%= link_to "コメント削除", user_comment_path(comment.user_id, comment.id), class: 'btn btn-outline-danger btn-sm', method: :delete, remote: true, data: { confirm: "本当に削除しますか?"} %>
      <% end %>
    </li>
    <% end %>
    <br>
  </cbody>
  <% end %>
</ul>
