<h1><%= @user.name %> さんのマイページ</h1>
<br>
<%= link_to "ユーザー情報の編集",edit_user_registration_path if current_user.id == @user.id %>
<br>
<% if @user.image.present? %>
  <p>
    <strong>Image:</strong>
    <%= image_tag @user.image.url if @user.image && @user.image.url %>
  </p>
<% end %>
<br>
<h4>名前: <%= @user.name %></h4>

<h4>プロフィール</h4>
<%= @user.profile %>
<br><br>
