<h2><%= @user.email %>のユーザーページ</h2>
<br>
<p>
  <strong>Image:</strong>
  <%= image_tag @user.image.url if @user.image && @user.image.url %>
</p>
<h3>ユーザー名</h3>
<%= @user.name %>
<br>
<h3>メールアドレス</h3>
<%= @user.email %>
<br>
<h3>プロフィール</h3>
<%= @user.profile%>
<br><br>
<%= link_to "ユーザー情報編集",edit_user_registration_path %>
