<!DOCTYPE html>
<html>
  <head>
    <title>Frugality</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %><!--追加 -->

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= link_to "倹約アプリ", root_path %>
    <% if user_signed_in? %>
      <%= link_to "みんなの投稿", fixed_costs_path %>
      <%= link_to "固定支出表", user_path(current_user.id) %>
      <%= link_to "マイページ", mypage_user_path(current_user.id) %>
      <%= link_to I18n.t('views.messages.logout'), destroy_user_session_path, method: :delete %>
      <%= link_to "管理者画面", rails_admin_path if current_user.admin? %>
    <% else %>
    <%= link_to I18n.t('views.messages.login'), new_user_session_path %>
      <%= link_to I18n.t('views.messages.sign_up'), new_user_registration_path, class: 'btn btn-primary' %>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>

    <footer class="footer">
      <p>© 2022 footer</p>
    </footer>

  </body>
</html>
