<!DOCTYPE html>
<html>
  <head>
    <title>Frugality</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <meta name="viewport" content="width=devise-width, initial-scale=1.0" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %><!--追加 -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-inverse navbar-expand-md navbar-light bg-light ">
        <%= link_to "倹約アプリ(ロゴ)", root_path, id: "logo" %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDrop" aria-controls="navbarDrop" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarDrop">
          <ul class="navbar-nav ml-auto font-weight-bold ">
            <% if user_signed_in? %>
              <li class="nav-item ml-3">
                <%= link_to "みんなの投稿", fixed_costs_path, class: "text-secondary" %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to "固定支出表", user_path(current_user.id), class: "text-secondary" %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to "マイページ", mypage_user_path(current_user.id), class: "text-secondary" %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to I18n.t('views.messages.logout'), destroy_user_session_path, method: :delete, class: "text-secondary" %>
              </li>
              <li class="nav-item mx-3">
                <%= link_to "管理者画面", rails_admin_path if current_user.admin? %>
              </li>
            <% else %>
              <li class="nav-item ml-3">
                <%= link_to I18n.t('views.messages.login'), new_user_session_path, class: "text-secondary" %>
              </li>
              <li class="nav-item mx-3">
                <%= link_to I18n.t('views.messages.sign_up'), new_user_registration_path, class: "text-secondary" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div class="dis_login">
      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>

        <%= yield %>
      </div>
    </main>
    <div class="bg-light">


    <footer class="footer bg-light">
      <p class="text-dark text-center text-secondary">©2022 Frugality</p>
    </footer>
    </div>
  </body>
</html>
